.visit{
    background-image: url("https://i.ibb.co/XSM0WXF/Screenshot-2023-05-01-012930.png");
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.visit-heading{
    font-size: 4rem;
}
.visit-short{
    padding-top: 120px;
}